#todo-error{
  color: red;
  font-size: 2em;
}

.strike {
  text-decoration: line-through;
}

#bg-image {
  background-size: cover;
}

#weather {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
/* 
.main {
  display: flex;
  height: 100vh;
  width: 100vh;
  align-items: center;
} */

#todo {
  display: flex;
  align-items: flex-end;
  height: 30%;
  width: 100%;
}