* {
}

#todo-error{
  color: red;
  font-size: 2em;
}

.main {
  height: 65%;
}

#header {
  padding-top: 5vh;
}

.strike {
  text-decoration: line-through;
}

#bg-image {
 background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;  
}

#weather {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.667), 1px -1px 0 rgba(0, 0, 0, 0.667), -1px 1px 0 rgba(0, 0, 0, 0.667), 1px 1px 0 rgba(0, 0, 0, 0.667);
  color: white; 

}
  /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */

#quote {
  display: flex;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.667), 1px -1px 0 rgba(0, 0, 0, 0.667), -1px 1px 0 rgba(0, 0, 0, 0.667), 1px 1px 0 rgba(0, 0, 0, 0.667);
  color: white; 
  justify-content: baseline;
  align-items: flex-end;
  font-size: inherit;
  height: 15%;
}

input [type=text] {
  border: none;
}
